body
{
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  width:100vw
  ;
  height:auto;
}
nav
{
background-color: #00284d;
height: 5rem;
padding-top: 2rem;
margin-bottom: 0;
position: fixed;
width: 100vw;
}
nav a{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin:10% 10% 20%;
  font-family: tahoma;
}
#home{
  background-image: url("../images/books.png");
  background-repeat: no-repeat;
  background-size:cover;
  margin: 0;
  height:70vh;
  padding-top: 14.5rem;
  padding-left: 13.5rem;
  font-size: 6rem;
  font-family: tahoma;
  color: white;
   text-shadow: 2px 2px 4px #000000;
   }
   .vl{
     background-image: linear-gradient(to right, #ff9900 , #ffcc00);
     height: 3rem;
   }
.me{
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  font-size: 5rem;
  font-family: Candara;
  margin-top: 0.5rem;
  text-decoration: underline;
  text-shadow: 2px 2px grey;
  flex-grow: 2;
  justify-content: center;
  margin-left: 4rem;
}
#profile{
  display: inline-block;
  display: inline-block;
  width: 34rem;
  height: 34rem;
  margin-left: 17%;
  box-shadow: 1rem 2rem 0.5rem grey;
  margin-top: -3.5rem;
  }
#expand {
    display: inline-block;
    float: right;
    width: 29rem;
    height: 34rem;
    margin-right: 20%;
    margin-top: -5.5rem;
    font-size: 2.5rem;
    text-align: justify;
    padding-top: 5rem;
    margin-bottom: 5rem;
    font-family: Candara;
    text-shadow: 0.5px 0.5px grey;
}
.text{
  margin-bottom: 5rem;
}
.container{
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  padding: 5rem;
  flex-wrap: wrap;
  padding:0;

}
img{
  width:8rem;
  height: 8rem;
}
.block {
    margin-top: auto;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 8rem;
    font-family: Candara;
    text-align: center;
    font-size: 3rem;
}
#PR{
  width:10rem;
  padding-top: 1rem;
}
#ai {
    width: 12rem;
    padding-top: 1rem;
    height: 11rem;
}
a:hover{
  border-radius: 5px;
  color: orange;
}
#CS{
  width:6rem;
}

footer{
  background-color: #00284d;
  float: left;
  width: 100vw;
  color: white;
  padding: 0;
}
.icon img{
  height:8rem;
  width:8rem;
  padding: 2rem;

}
.container1{
  display:flex;
  justify-content:space-between;
  flex-grow: 3;
  height:100%;
}
.icon{
padding-top: 3rem;
padding-right: 10rem;
}
.container1 ul,h1{
  list-style: none;
  padding-left: 0;
  padding-left: 10rem;
  margin-top: 3rem;
  font-family:Candara;
  font-size: 2rem;
 text-shadow: 2px 2px grey;

}
.container1 h1{
  font-size: 4rem;
  text-decoration: underline;
}
